/* line 3, ../sass/styles.scss */
.ap_body {
  min-width: 800px;
  max-width: 1024px;
  margin: 0 auto;
}

/* line 10, ../sass/styles.scss */
.ap_header {
  min-height: 100px;
}

/* line 14, ../sass/styles.scss */
.ap_footer {
  min-height: 60px;
}

/* line 18, ../sass/styles.scss */
.ap_footer_text {
  border: solid 1px red;
}

/* line 22, ../sass/styles.scss */
.ap_footer_social {
  border: solid 1px blue;
}

/* line 26, ../sass/styles.scss */
.ap_row {
  margin-right: 0;
  margin-left: 0;
}

/* line 35, ../sass/styles.scss */
.ap_line {
  background-color: #DFDFDF;
  min-height: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 42, ../sass/styles.scss */
.ap_content {
  min-height: 35em;
}

/* line 47, ../sass/styles.scss */
#header {
  position: relative;
}

/* line 51, ../sass/styles.scss */
#header section {
  display: inline-block;
}

/* line 55, ../sass/styles.scss */
.ap_logo {
  width: 10%;
}

/* line 59, ../sass/styles.scss */
.ap_text {
  float: right;
  right: 0;
}

/* line 64, ../sass/styles.scss */
.error {
  border-color: red;
}

/* line 68, ../sass/styles.scss */
.warning {
  border-color: yellow;
}
